header, footer {
	text-align: center;
	background-color: #17016d;
	padding: 1px;
	color: #fff;
}

body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.wf1 {
    padding: .5rem;
    margin: 10px;
    align-content: center;
}

.wf1 div {
    padding-top: 1rem;
    color: #000000;
    font-size: .9rem;
 }

.wf1 label {
    display: block;
    padding-top: .75rem;
    color: #780000;
    font-size: .9rem;
 }

 .wf1 div {
    padding-top: 1rem;
    color: #000000;
    font-size: .9rem;
 }

 .wf1 input[type = "text"],
 .wf1 input[type = "date"],
 .wf1 textarea,
 .wf1 select {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
 }

 .wf1 input[type = "checkbox"] {
    display: flex;
    flex-direction: column;
}

 .wf1 input[type="submit"] {
    border: none;
    background-color: #780000;
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
 }

 .wf1 .button {
    padding-top: 2rem;
    padding-bottom: 0;
 }
