@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
	    justify-content: space-between;
	}

    header img {
        position: relative;
    }
    main {
        display: grid;
        gap: 1rem;
        padding: 1rem;
        width: 100%;
        box-sizing: border-box;
        justify-items: center;
        grid-template-columns: repeat(3, auto); 
        grid-gap: 25px; 
        place-items: center;
    }

    main img {
        max-width: 450px;
        min-height: 300px;
        position: relative;
    }
    
    main h2 {
        grid-column: 1 / -1;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    main figcaption {
        text-align: center;
    }

	nav {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
        max-width: 900px;
	}

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
        
	}
	#menu {
		display: none;
	}
}