@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
	    justify-content: space-between;
	}

    header img {
        position: relative;
    }


	nav {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
        max-width: 900px;
	}

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
        
	}
	#menu {
		display: none;
	}
}