@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
span {background-color: red}

html {
	align-content: center;
	align-items: center;
	align-self: center;
	justify-content: center;
}

body {
    font-family: "Rubik", sans-serif;
	align-items: center;
}

body h1{
	text-align: center;
	box-sizing: border-box;
	max-width: 840px;
	margin: 0;
	background-color: #026c75;
	color: white;
    padding: 10px;
    text-align: center;
}

.card figure {
	float: left;
	font-size: .8rem;
	margin: 0px;
	margin-right: 10px;
}

.card figure img {
	width: 180px;
	height: auto;
	padding: 2px;
}

.card {
	display: inline-table; 
	border-radius: 10px;
	background-color: #026b752d;
	max-width: 490px;
	height: 420px;
	padding: 10px;
    margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: .4rem;
}

.card h2 {
	box-sizing: border-box;
	background-color: #026c75;
	color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: -10px -10px 10px -10px;
    text-align: center;
}

.card h3 {
	text-align: center;
	border-bottom: 2px solid #00000039;
}

.card ul {
	margin-top: 140px;
}

.card img {
    width: 100px;
    height: auto;
	display: block;
	float: right;
}

nav {
	background-color: #17016d;
	max-width: 840px;
    display: flex;
    font-size: 1.3rem;
    justify-content: space-around;
}

nav a {
	display: block;
	color: #fff;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration:underline;
}

footer {
	text-align: center;
	max-width: 840px;
	background-color: #17016d;
	padding: 2px;
	color: #fff;
}