:root {
    --primary-color: #930000;
    --secondary-color: #17016d;

    --heading-font: 'Raleway', serif;
    --paragraph-font: 'var(--paragraph-font)', serif;
}

::after {
    content: "";
}

body {
    font-family: var(--paragraph-font);
    font-family: "Raleway";
}

header {
    padding: 1px;
    color: #fff;
    background-color: var(--primary-color);
    text-align: center;
}

table {
    padding: 2px;
    margin: 0 auto;
    align-items: center;

}

th, td {
    padding: 4px;
    margin: 0 auto;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.weather, .bold td{
    width:30%;
    display:inline-block;
    box-sizing:border-box;
    text-align:right;
}

.weather{
    display: contents;
    align-items: center;
}

.weather img{
    margin: 0 auto;
    display: block;
    width: 150px;
}

.hero {
    padding-top: 30px;
    background-color: var(--secondary-color);

}

.hero img {
    width: 100%;
    height: auto;
}

h2 {
    margin: 20px;
    text-align: center;
}

.data, .weather {
    margin-bottom: 20px;
}

p {
    margin: 5px 0;
}

.emoticon {
    display: none;
}

.weather-icon {
    display: block;
    margin: 0 auto;
}

footer {
	text-align: center;
	background-color: var(--primary-color);
	padding: 2px;
	color: #fff;
    position: relative;
    width: 100%;
    bottom: 0;
}


